<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1566808907623-51b8fc382454?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        <h2>AirbandB : Vibrez au Rythme de Vos Émotions Musicales</h2>
        <h6 class="fst-italic mt-2">Le lieu idéal pour trouver des expériences musicales qui te correspondent</h6>
      </div>

    </div>
  </div>

  <div class="row">
    <% @experiences.each do |experience| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="experiences_card border shadow-sm p-3 mb-5 rounded m-3">
          <%= link_to experience_path(experience), class: "text-decoration-none text-dark" do %>
            <% if experience.photo.attached? %>
            <%= image_tag experience.photo, alt: "Image de l'expérience", class: "img-fluid rounded shadow-lg" %>
          <% else %>
            <p class="text-muted">Aucune photo disponible pour cette expérience.</p>
          <% end %>
            <h4 class="mt-3 fw-bold"><%= experience.name %></h4>
            <p class="mt-1 ms-2 text-muted fst-italic"><%= experience.stage_name %></p>
            <div class="experiences_body mt-4">
              <p><i class="fa-solid fa-music"></i> <%= experience.musical_genre %></p>
              <p><i class="fa-solid fa-star"></i> <%= experience.absurd_requirement %></p>
              <p><i class="fa-solid fa-euro-sign"></i> <%= experience.price_per_day %>€/jour</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
