<button class="sticky-add mb-5  btn-purple rounded-pill px-4 shadow ms-4" data-bs-toggle="modal" data-bs-target="#experienceModal" data-turbo="false">
  <i class="fa-solid fa-circle-plus"></i> Ajouter une expérience
</button>

<%= render 'shared/form_modal' %>

<div class="row">
  <% @experiences.each do |experience| %>
    <div class="col-lg-4 mb-4 d-flex align-items-stretch">
      <div class="experiences_card d-flex flex-column ">
        <%= link_to experience_path(experience), class: "text-decoration-none text-dark flex-grow-1 d-flex flex-column" do %>
          <% if experience.photo.attached? %>
            <div class="text-center">
              <%= image_tag experience.photo, alt: "Image de l'expérience", class: "img-fluid rounded shadow-lg flex-shrink-0" %>
            </div>
          <% else %>
            <p class="text-muted text-center">Aucune photo disponible pour cette expérience.</p>
          <% end %>

          <h4 class="mt-3 flex-grow-1"><%= experience.name %></h4>
          <p class="mt-1 ms-2 text-muted fst-italic text-center flex-shrink-0">🎭 <%= experience.stage_name %></p>

          <div class="experiences_body flex-grow-1 d-flex flex-column justify-content-between">
            <p><i class="fa-solid fa-music"></i> <%= experience.musical_genre %></p>
            <p><i class="fa-solid fa-star"></i> <%= experience.absurd_requirement %></p>
            <p class="price flex-shrink-0"><i class="fa-solid fa-euro-sign"></i> <%= experience.price_per_day %>€/jour</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
