<div class="container mt-5">


  <div class="row">
    <h2>Nous vous proposons:</h2>
    <% @experiences.each do |experience| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="experiences_card border shadow-sm p-3 mb-5 rounded m-3">
          <!-- Affichage de l'image de l'expérience via ActiveStorage -->
          <%= link_to experience_path(experience) do %>
            <% if experience.photo.attached? %>
              <%= image_tag url_for(experience.photo) %>
            <% end %>

          <h4 class="mt-3 font-weight-bold"><%= experience.name %></h4>
          <p class="mt-1 ms-2 text-muted fst-italic"><%= experience.stage_name %></p>
          <div class="experiences_body mt-4">
            <p><i class="fa-solid fa-music"></i> <%= experience.musical_genre %></p>
            <p><i class="fa-solid fa-web-awesome"></i> <%= experience.absurd_requirement %></p>
            <p><i class="fa-solid fa-euro-sign"></i> <%= experience.price_per_day %>€/jour</p>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
